@import url('https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic');
@import url('https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css');

html {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 8px;
}

p,
select,
input,
span {
    font-size: large;
}

table {
    width: 90% !important;
    margin-left: 5%;
}

thead {
    font-weight: 800;
    font-size: larger;
}




.inputContainer {
    display: flex;
    align-items: center;
}

.inputContainer input,
.inputContainer select,
.inputContainer button {
  margin-right: 10px;
}

.inputContainer button {
    position: relative;
    top: -2.5px; /* Ajusta el valor según sea necesario */
}

.tableContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}
